* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}


#container {
  margin-top: 100px;
  max-width: 400px;
  width: 80%;
  margin-inline: auto;  
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.8;
}

p {
  margin-bottom: 50px;
  opacity: 0.4;
}

input,button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
}

input {
  margin-bottom: 20px;
}
  
button {
  border: none;
  background-color: rgb(43, 156, 226);
  color: white;
  transition: filter .2s;
  box-shadow: 5px 5px 2px yellow;
  text-shadow: 2px 2px 1px black;
}

button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 30px;
  transition: opacity 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}
